<launch>

  <group ns="mujoco">
      <rosparam>
        key: /home/james/code/packages/mujoco200_linux/bin/mjkey.txt
        xml: /home/james/catkin_ws/src/robots/mujoco_ros/mujoco_files/ur5_threaded_manip.xml
        start_time: 0.0
        FPS: 60
        
        grippable_bodies: [ "nut" ]
        ext_cam_name: "ros_cam"
      </rosparam>
      
      <node name="mujoco_sim_node" pkg="mujoco_ros" type="mujoco_node" output="screen" required="true"/>
  </group>
  
  <include file="$(find james_ur_kinematics)/launch/ur_kinematics_mujoco.launch"/>

</launch>
