<launch>

  <rosparam>
    mujoco_key: /home/james/code/packages/mujoco200_linux/bin/mjkey.txt
    mujoco_xml: /home/james/catkin_ws/src/mujoco_ros/mujoco_files/ur5/ur5.xml
    mujoco_start_time: 5.0
    mujoco_FPS: 60
  </rosparam>
  
  <node name="mujoco_ur5" pkg="mujoco_ros" type="mujoco_ur5" output="screen"/>

</launch>
